Repository UpsylonDev/upsylon-vuejs3-ddd-template: changes, and which lint-staged commands are due for each by the changed paths.
All: vue-tsc --noEmit, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,vue}": [
    "vue-tsc --noEmit"
  ],
  "*.{js,ts,vue,json,md}": [
    "prettier --write"
  ]
}

ai(): create new commands
  .claude/commands/create_commit.md
  .claude/commands/implement-setup.md
  .claude/settings.local.json
Due: prettier --write

ai(): add ai on commit setup
  commitlint.config.js
Due: prettier --write

test: add playwright e2e testing framework
  .lintstagedrc.json
  CLAUDE.md
  README.md
  e2e/example.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: vue-tsc --noEmit, prettier --write

chore: clean up project structure and fix lint-staged config
  .claude/commands/implement_setup.md
  .gitignore
  .lintstagedrc.json
  e2e/example.spec.ts
Due: vue-tsc --noEmit, prettier --write

chore(): update config
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: add vitest for unit testing
  .lintstagedrc.json
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
  src/components/HelloWorld.test.ts
  vitest.config.ts
Due: vue-tsc --noEmit, prettier --write

test(): update vitest config
  .claude/settings.local.json
Due: prettier --write

feat(): install tests
  .vscode/extensions.json
  ARCHITECTURE.md
  IMPROVEMENTS.md
  README.md
  SUCCESS.md
  e2e/example.spec.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/HelloWorld.test.ts
  src/components/HelloWorld.vue
  src/modules/Welcome/README.md
  src/modules/Welcome/application/useCounter.ts
  src/modules/Welcome/domain/Counter.test.ts
  src/modules/Welcome/domain/Counter.ts
  src/modules/Welcome/ui/components/HelloWorld.test.ts
  src/modules/Welcome/ui/components/HelloWorld.vue
  src/shared/README.md
  src/ui/README.md
  tsconfig.app.json
  vite.config.ts
Due: vue-tsc --noEmit, prettier --write

docs(): update docs
  .dockerignore
  .env.example
  .gitattributes
  .github/workflows/docker.yml
  .gitignore
  Dockerfile
  Dockerfile.dev
  Makefile
  README.md
  docker-compose.yml
  docker-helper.ps1
  docs/ARCHITECTURE.md
  docs/CLAUDE.md
  docs/DOCKER.md
  docs/DOCKER_QUICK_REF.md
  docs/DOCKER_SUMMARY.md
  docs/ENV_VARIABLES.md
  docs/IMPROVEMENTS.md
  docs/SUCCESS.md
  nginx.conf
Due: prettier --write

feat(): change btn color
  src/modules/Welcome/ui/components/HelloWorld.vue
Due: vue-tsc --noEmit, prettier --write

docs(): update docs
  docker-compose.yml
  docs/CLAUDE.md
Due: prettier --write

style: installer la police Lato de façon globale
  src/assets/fonts/lato/Lato-Black.ttf
  src/assets/fonts/lato/Lato-BlackItalic.ttf
  src/assets/fonts/lato/Lato-Bold.ttf
  src/assets/fonts/lato/Lato-BoldItalic.ttf
  src/assets/fonts/lato/Lato-Italic.ttf
  src/assets/fonts/lato/Lato-Light.ttf
  src/assets/fonts/lato/Lato-LightItalic.ttf
  src/assets/fonts/lato/Lato-Regular.ttf
  src/assets/fonts/lato/Lato-Thin.ttf
  src/assets/fonts/lato/OFL.txt
  src/style.css
Due: none

chore: install constants folder
  src/constants/.keep
Due: none

style: passage à Sass
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/main.ts
  src/modules/Welcome/ui/components/HelloWorld.vue
  src/style.css
  src/style.sass
Due: vue-tsc --noEmit, prettier --write

chore: install Ci lauch tests
  .github/workflows/ci.yml
Due: none

fix: update actions
  .github/workflows/docker.yml
Due: none

fix: ci actions
  .github/workflows/ci.yml
  .github/workflows/docker.yml
Due: none

fix(ci): setup pnpm before node and fix docker tag
  .github/workflows/ci.yml
Due: none

fix(ci): update pnpm-action-setup to v4 to fix pnpm executable error
  .github/workflows/ci.yml
Due: none

fix: actions conflicts
  .github/workflows/ci.yml
Due: none

chore: add utils folder
  src/utils/.keep
Due: none

chore: install modern prettier and.editorconfig
  .editorconfig
  .prettierrc.json
  README.md
  commitlint.config.js
  e2e/example.spec.ts
  eslint.config.js
  src/App.vue
  src/main.ts
  src/modules/Welcome/application/useCounter.ts
  src/modules/Welcome/domain/Counter.test.ts
  src/modules/Welcome/domain/Counter.ts
  src/modules/Welcome/ui/components/HelloWorld.test.ts
  src/modules/Welcome/ui/components/HelloWorld.vue
  tsconfig.json
Due: vue-tsc --noEmit, prettier --write

fix: env exemple
  .env.example
Due: none

fix: pnpm test in CI
  pnpm-workspace.yaml
Due: none

chore: install service blog for demo
  src/App.vue
  src/modules/Blog/application/GetPosts.test.ts
  src/modules/Blog/application/GetPosts.ts
  src/modules/Blog/domain/Post.ts
  src/modules/Blog/domain/PostRepository.ts
  src/modules/Blog/infrastructure/HttpJsonPlaceholderPostRepository.test.ts
  src/modules/Blog/infrastructure/HttpJsonPlaceholderPostRepository.ts
  src/modules/Blog/ui/PostList.test.ts
  src/modules/Blog/ui/PostList.vue
Due: vue-tsc --noEmit, prettier --write

fix: e2e tests for demo
  e2e/example.spec.ts
Due: vue-tsc --noEmit, prettier --write

fix: test e2e
  e2e/example.spec.ts
Due: vue-tsc --noEmit, prettier --write

chore: install tailwind css
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/style.sass
  tailwind.config.js
Due: prettier --write
